<section
  class="bg-gradient-to-r from-primary/0 to-primary/60 min-h-[calc(100vh-64px-68px)] flex items-center justify-center"
>
  <div class="text-center p-8 max-w-4xl mx-auto">
    <h1 class="text-4xl md:text-6xl font-extrabold leading-tight mb-4 animate-fade-in-down">
      ¡Bienvenido a la Liga Caldense de Esports!
    </h1>
    <p class="text-lg md:text-2xl mb-8 animate-fade-in-up">
      Tu destino para la acción más emocionante de los deportes electrónicos.
    </p>
    <div class="space-x-4 animate-fade-in-up delay-200">
      <a
        routerLink="/about"
        class="btn btn-accent"
      >
        Conócenos
      </a>
    </div>
  </div>
</section>
